---
import HeaderLink from './HeaderLink.astro';
import { Icon } from 'astro-icon/components';
import { SITE_TITLE } from '../consts';

---

<header>
	<nav>
		<!-- 
		<div class='hails'>
			<a href="/"><img src='favicon.ico'></a>
		</div>
		-->
		<b><p2><a href="/">{SITE_TITLE}</a></p2></b>
		<div class="internal-links">
			<HeaderLink href="/">About</HeaderLink>
			<HeaderLink href="/experience">Experiences</HeaderLink>
			<HeaderLink href="/favorites">Favorites</HeaderLink>

		</div>
		<div class="social-links">
			<a href="mailto:haileygarcia@berkeley.edu" target="_blank">
				<span class="sr-only">Email me</span>
				<Icon name="mdi:email-edit" />
			</a>
			<a href="https://www.linkedin.com/in/haileyg102/" target="_blank">
				<span class="sr-only">Add me on LinkedIn</span>
				<Icon name="mdi:linkedin" />
			</a>
			<a href="https://github.com/alaska102?tab=repositories" target="_blank">
				<span class="sr-only">Check out my GitHub</span>
				<Icon name="mdi:github" />
			</a>        
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
		background: white;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
	.social-links,
	.social-links a {
		display: flex;
	}
	@media (max-width: 720px) {
		.social-links {
			display: none;
		}
	}
	.hails	{
		padding-right: 6.5em;
	}
	[data-icon] {
		width: 40px;
		height: 40px;
	}

</style>
